<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.getmehotnews.vin" version="1.0.0">
  <name>getMeHotNews</name>
  <description> Get me hot news android application</description>
  <author href="http://vintechnosys.com" email="vintechnosys@gmail.com">VIN Technosys</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="orientation" value="portrait" />
  

  <plugin name="phonegap-plugin-push" spec="1.6.0">
        <param name="SENDER_ID" value="730309421478" />
  </plugin>
  <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2"/>
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1"/>
  <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0"/>
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>

  
  <icon src="icon.png"/>
  
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>