<div data-page="news" class="page">
	<div class="swiper-container">
    	<div class="swiper-wrapper">
                    <div ng-repeat="news in newses" class="swiper-slide app-swiper">

                            <div class="app-img">
                                <img class="img-tag" src="{{api_base_url}}/assets/news_images/{{news.news_image}}">
                            </div>
                            <div class="app-con">
                                  <div class="app-head"> 
                                    {{news.news_title}}
                                  </div>
                                  <div class="app-news">
                                    {{news.news_body}}
                                  </div>
                                  <div class="app-by">short by Ankur Vyas / {{news.news_add_dater | date : "EEEE, MM-dd-yyyy 'at' h:mm a" }} </div>
                                  <div class="app-more">read more at Hindustan Times</div>

                            </div> 
                    </div>

            
    	</div>
	</div>
</div>

<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        spaceBetween: 50,
        observer : true,
    });

</script>
