<!-- Start Left Menu -->
<!-- <div class="panel panel-left panel-cover">
  <div class="view navbar-fixed">
    <div class="pages">
      <div data-page="panel-left" class="page">

        <div class="page-content" style="padding-top:0px;">
            <div class="x_logo_block">
              <img src="assets/img/lims.png">
            </div>
            <div class="content-block-title x_menu_title">Dashboard </div>
            <div class="list-block x_menu_list">
                <ul>
                    <li>
                        <a href="#/app/sales_list" class="item-link close-panel no-ripple">
                            <div class="item-content">
                              <div class="item-media"><i class="icon icon-f7"></i></div>
                              <div class="item-inner">
                                <div class="item-title">Daily Sales</div>
                              </div>
                            </div>
                          </a>
                    </li>

                     <li>
                        <a href="#/app/reports" class="item-link close-panel no-ripple">
                            <div class="item-content">
                              <div class="item-media"><i class="icon icon-f7"></i></div>
                              <div class="item-inner">
                                <div class="item-title">Reports</div>
                              </div>
                            </div>
                          </a>
                    </li>


                  

                    <li>
                        <a ng-click="logout()" class="item-link close-panel  no-ripple">
                            <div class="item-content">
                              <div class="item-media"><i class="icon icon-f7"></i></div>
                              <div class="item-inner">
                                <div class="item-title">Logout</div>
                              </div>
                            </div>
                          </a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<div class="views">
    <div class="view view-main">
        <div ui-view  class="pages navbar-fixed">
        </div>
    </div>
</div>


